
@import "variables";
@import "placeholders";
@import "mixin";

*{
	box-sizing: border-box;
}



body{
	line-height: 1.42857143;

}
.custom_loader{
	padding-top: 22%;
    padding-left: 50%;
}

.custom-fluid{
	padding:0;
	opacity: 0;
	position: fixed;
	.custom_row{
		margin: 0;
		.custom_col{
			padding: 0;
		}
	}
}
.loaders{
	opacity: 1 !important;	
	position: relative !important;
}
.wapper{
	position: relative;
	height: 100vh;
	background: $gray;
	.showMeau{
		left: 0 !important;
	}
	.nav_bar{
		width: 260px;
	    display: block;
	    font-weight: 200;
	    position: fixed;
	    background: $white;
	    box-shadow: inset -1px 0px 0px 0px #DDDDDD;
	    height: 100vh;
	    transition: 0.5s;
	    h3{
	    	text-align: center;
	    }
	    hr{
	    	width: 80%;
	    }
	    ul{
	    	padding-left: 0;
   			margin-bottom: 0;
	    	li{
	    		position: relative;
	    		list-style: none;
    		    padding-top: 9px;
				padding-bottom: 9px;
				&.active a{
					color: $blue !important;
				}
				&.active > a:after{
						border-right: 17px solid #f4f3ef;
					    border-top: 17px solid transparent;
					    border-bottom: 17px solid transparent;
					    content: "";
					    display: inline-block;
					    position: absolute;
					    right: -1px;
					    top: 8px;
					}
				&.active > a:before{
					border-right: 17px solid #DDDDDD;
				    border-top: 17px solid transparent;
				    border-bottom: 17px solid transparent;
				    content: "";
				    display: inline-block;
				    position: absolute;
				    right: 0;
				    top: 8px;
				}

	    		a{
		    		margin: 10px 0px;
				    padding-left: 25px;
				    padding-right: 25px;
				    color: $gray_nav;
				    svg{
				    	width: 3rem !important;
				    	height: 3rem !important;
				    }
				    &:hover{
						color: $hover_color_nav;
					}
					
	    		}
	    		span{
	    			margin: 0;
				    line-height: 30px;
				    font-size: 13px;
				    font-weight: 600;
				    text-transform: uppercase;
				    position: absolute;
				    left: 76px;

	    		}
	    	}
	    	
	    }
	}
	.heyConten{
		width: calc(100% - 260px) !important;
	}
	.conten{
		background: $gray;
	    position: relative;
	    z-index: 2;
	    float: right;
	    width: calc(100% - 260px);
	    transition: 0.5s;
	    .meau_mobi{
	    	float: inherit;
	    	margin: 15px;
	    	display: none;
	    	svg{
	    		font-size: 3.5rem;
	    	}
	    }
	    h3{
    		border-bottom: 1px solid #aaa;
    		padding-bottom: 19px;
    		padding-left: 20px;
    		font-weight: 100;
    	}
	    .table_list{
	    	margin: 43px;
			background: $table_color;
			border-radius: 10px;
	    	thead{
	    		background: $white;
	    	}
	    	
	    }
	}
}
.table-striped{
	tbody{
		tr{
			td{
				i{
					font-size: 17px;
				    position: absolute;
				    left: 93%;
				}
			}
		}
	}
	
}
.onshowProductImage{
	display: block !important;
}
.showProductImage{
	width: 100%;
	height: 100vh;
	position: fixed;
	background: #313232;
	padding-top: 50px;
	display: none;

	.close_imgc1{
		position: absolute;
		background: red;
		left: 90%;

		svg{
			background: red;
		    font-size: 27px;
		}
	}
	.conten_image_product{
		width: 304px;
    	height: 481px;
	    background: #d4d4dc;
	    max-width: 600px;
	    margin: auto;
	    img{
	    	width: 100%;
	    	height: 63%;
	    }
	    .conten_image_product1{
	    	position: relative;
	    	img{
	    		width: 100%;
	    		height: 109px;
	    	}
	    }
	    button{

	    }
	}
}
.showProductOpacity{
	opacity: 0 !important;
	display: none;
}

#display_not{
	display: none;
}



.ql-container{
	height: 600px !important;
}
@include responsive_sm{
	.custom_loader{
		padding-top: 80% !important;
		padding-left: 45%;
	}
 	.wapper{

 		.conten{
 			width: calc(100% - -18px);
 			.table_list{
 				margin: 0;
 			}
 		}
 	}
 }
 
@include responsive_md{
 
}
 
@include responsive_lg{

 	.wapper{
 		.nav_bar{
 			left: -300px;
 		}
 		.conten{
 			width: calc(100% - -0px);
 			.meau_mobi{
 				display: block;
 			}
 		}
 	}
}

 
@include responsive_xl{
 	.custom_loader{
		padding-top: 28%;
	}

}




.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: $blue;
  box-shadow: 30px 0 0 $table_color;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: $gray;
  box-shadow: 30px 0 0 #blue;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #000;
  }
  50% {
    box-shadow: 0 0 0 $gray;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #000;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 $blue;
  }
  50% {
    box-shadow: 0 0 0 $table_color;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 $gray;
    margin-top: 0;
  }
}