
$gray :#f4f3ef;
$blue :#68B3C8;
$white :#fff;
$drak:#000;
$gray_nav:#66615B;
$table_color:#FFFCF5;
$white:#fff;
$black:#000;
$hover_:#3cd3dd;



$hover_color_nav:#333;
$hover_color_button:#3091B2;

$link_nav :$gray;
$link_button:$white;