@import "variables";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

.float_right{
	float: right;
	padding: 5px 5px;
}
.float_left{
	float: left;
	padding: 5px 5px;
	
}
.display{
	display: none;
}
.loaders{
	opacity: 1 ;	
	position: relative !important;
	transition: 0.5s;
}

circle{
	background: red;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
	font-family: 'Ubuntu', sans-serif;
}
	.show_nav_mobie{
		display:none ;
	}
//custom boostrap
.custom_fluid{
	padding: 0;
	opacity: 0;
	position: fixed;
}
.custom_row{
	margin: 0;
}
.custom_col{
	padding: 0;
}
 .carousel-inner>.item>img{
 	height: 100vh !important;
 }
.carousel-caption{
	top: 40%;
	h1{
		margin: 27px;
		font-family: 'Dancing Script', cursive;
		font-size: 55px;
	}
	.shoppe{
		color: $black;
		height: 60px;
		padding-left: 210px;
		padding-right: 210px;
		transition: 0.5s;
		a{
			text-decoration: none;
			color: $black;
		}
		div{
			width: 100%;
			height: 100%;
			padding: 21px;
			background: $white;
			transition: .3s ease-in-out;
			&:hover{
				background: $hover_;
				color: $white;
			}
		}
	}
}
.carousel-inner{
	height: 100vh;
}
.carousel-control{
	height: 100vh;
	
	 svg{
		position: absolute;
		top: 52%;
		font-size: 32px;
		left: 44%;
	}
}
.carousel-indicators{
	li{
		width: 5px;
		height: 5px;
	}
}
.active{
	
}
.left{
	background-image: none !important;
}
.right{
	background-image: none !important;
}
.img_c1{
	background-image: url("https://cdn.glitch.com/ba72007a-b60d-4faa-b311-0093a53c208c%2FBG1.png?v=1592198916596");
	@extend %bg_img;
	&:after{
	   @extend %after_
	}
}
.img_c2{
	background-image: url("https://cdn.glitch.com/ba72007a-b60d-4faa-b311-0093a53c208c%2FBG2.png?v=1592198952851");
	@extend %bg_img;
	&:after{
	   @extend %after_
	}
}
.img_c3{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/slsouel.appspot.com/o/image%2Flookbook_hero_NEW.jpg?alt=media&token=0e85ef50-0f44-493c-ad09-68f269ee5a9a");
	@extend %bg_img;
	&:after{
	   @extend %after_
	}
}



.menu_bar{
	width: 100%;
	background: #fff0;
	line-height: 1.7;
    font-family: "Ubuntu";
    font-size: 17px;
    color: #555555;
    font-weight: 300;
	height: 120px;
	transition: 0.5s;
	color: $black;
	.show_nav{
		display: none;
		float: left;
		margin: 44px;
		svg{
			font-size: 29px;
			left: 16px;
		}

	}
	.show_nav_mobie{
		width:100%;
		position:fixed;
		height:100vh;
		left:-123%;
		background:#ebfbfc;
		transition:0.5s;
		padding: 49px;
		svg{
			font-size: 30px;
		}
		ul{
			padding: 50px 0px;
			li{
				list-style: none;
				padding:10px 20px;
				line-height: 1.7em;
			    margin-bottom: 0;
			    font-size: 16px;
			    letter-spacing: .4px;
			    &:after{
			    	border-color: rgba(0,0,0,.1);
			    	content: '';
				    border-bottom-width: 1px;
				    border-bottom-style: solid;
				    display: block;
				    width: 100%;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				        width: auto;

			    }
				a{
					text-overflow: ellipsis;
				    overflow: hidden;
				    color: inherit;
				    line-height: 20px;
					text-decoration: none;
					&:hover{
						color: $hover_;
					}
				}
			}
		}
	}
	#show_bar{
		left:0%;
	}
	.logo_{
		position: absolute;
		text-transform: none;
		left: 2%;
		top: 54%;
		transform: translateY(-50%);
		transition: 0.5s;
		a{
			text-decoration: none;
		}
		img{
			border-radius: 50px;
		}
		span{
			font-family: 'Spirax', cursive;;
			font-size: 26px;
		}
	}
	.nav_{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 120px;
		color:#fff;
		transition: 0.5s;
		ul{
			font-size: 0;
			list-style: none;
			margin: 0;
			padding-inline-start: 0;
			li{
				font-size: 20px;
				display: inline-block;
				padding: 7px 22px;
				white-space: nowrap;
				// &::before{
				// 	content:"";
				// 	width: 0px;
				// 	height: 2px;
				// 	top:28px;
				// 	background: $black;
				// 	position: absolute;
				// 	transition: .3s ease-in-out;
				// }
				// &:hover:before{
				// 	width: 50px;
				// }
				a{
					@extend %link_a;
				  
				    letter-spacing: 0.7px;
					&:hover{
						color: $hover_;
					}
				}
				
			}
		}
	}
	.cart_{
		position: absolute;
		right: 2%;
		top: 50%;
		transform: translateY(-50%);
		p{
			margin: 0;
			a{
				@extend %link_a;
				&:hover{
					color: $hover_;
				}
			}
		}
		

	}
}
.table1{
	padding: 40px;

	.table1_img_mypham{
		background-image: url("https://cdn.glitch.com/ba72007a-b60d-4faa-b311-0093a53c208c%2Fmypham.jpg?v=1592199020797");
		background-size: 100%;
		width: 100%;
		height: 550px;
		position: relative;
		transition: 0.5s;
		opacity: 0.6;
		&:hover{
			opacity: 1;
		}
		h3{
			position: absolute;
			top: 40%;
			left: 40%;
			color: $white;
			font-weight: 300;
		}

	}
	// .overlow{
	// 	@extend %overlow_;
	//     &:hover{
	//     	background-color: rgba(0,0,0, .0);
	//     }
	// }
}
.table2{
	padding: 40px;
	h3{
		position: absolute;
		top: 40%;
		left: 40%;
		color: $white;
		font-weight: 300;
	}
	.table2_img_thoitrang{
		background-image: url("https://cdn.glitch.com/ba72007a-b60d-4faa-b311-0093a53c208c%2Flatvat.jpg?v=1592199067709");
		background-size: 100%;
		width: 100%;
		height: 550px;
		position: relative;
		transition: 0.5s;
		opacity: 0.6;
		&:hover{
			opacity: 1;
		}

	}
		// .overlow{
	// 	@extend %overlow_;
	// 	&:hover{
	//     	background-color: rgba(0,0,0, .0);
	//     }
	// }
}

		// .overlow{
	// 	@extend %overlow_;
	// 	&:hover{
	//     	background-color: rgba(0,0,0, .0);
	//     }
	// }

.active{
	padding: 0px 0px 60px 0px;
	.tuideo{
		padding: 5px 0;
		img{
			width: 100%;
			height: 75px;
			border-radius: 20px;

		}
	}
	.sovo{
		padding: 5px 0;
		img{
			width: 100%;
			height: 63px;
			height: 75px;
			border-radius: 20px;
		}
	}
	.ocean{
		padding: 5px 0;
		img{
			width: 100%;
			height: 63px;
			height: 75px;
			border-radius: 20px;
		}
	}
	.chanmeo{
		padding: 5px 0;
		img{
			width: 100%;
			height: 63px;
			height: 75px;
			border-radius: 20px;
		}
	}
}


@include responsive_sm{
	.loader-1 {
 	   left: 34% !important;
}

	.carousel-caption{
		p{
			font-size: 13px;
		}
		h1{
			margin: 0px;
			font-size: 36px;
		}
		.shoppe{
			margin-top: 15px;
		}
}

	.menu_bar{
		.show_nav{
 			
 		}
		.logo_{
		}
 		.nav_{
 		}
 		.cart_{
 		}
 	}


 	.table1{
 		
 		.table1_img{
 			height: 445px;
 			h3{
				left: 31%;
	 		}
 		}
 	}
 	.table2{
 		
 		.table2_img{
 			height: 445px;
 			h3{
	 			left: 31%;
	 		}
 		}
 	}
 	// .img_c1{
 	// 	height: 400px !important;
 	// 	background-image: url("../.././puclic/img/cat-2.png");
 	// }
 	// .img_c2{
 	// 	height: 400px !important;
 	// 	background-image: url("../.././puclic/img/cat-3.png");
 	// }
 	// .img_c3{
 	// 	height: 400px !important;
 	// 	background-image: url("../.././puclic/img/cat-4.png");
 	// }
 	// .carousel-caption{
 	// 	display: none !important;
 	// }
 	// .carousel-control svg{
 	// 	display: none !important;
 	// }
 	// .carousel-control{
 	// 	height: 0 !important;
 	// }
 	// .baner_{
 	// 	margin-top: 30px;
 	// 	.thanhtuan{
 	// 		background-image: url("../.././puclic/img/thanhtuan.png");
 	// 		width: 150px;
		// 	height: 150px;
		// 	background-size: cover;
 	// 	}
 	// }
 }
 
@include responsive_md{
	.carousel-caption{
		top: 32%;
		.shoppe{
			padding: 0 !important;
		}
	}

	.carousel-control{
		svg{
			top: 46%;
			left: 16px;
		}
	}


 	.menu_bar{
 		.show_nav{
 			display: block;
 		}
 		.logo_{
 			left: 40%;
 			span{
 				display: none;
 			}
 		}
 		.nav_{
 			display: none;
 		}
 		.cart_{
 			margin: 11px;
 			top: 40%;
 		}
 	}

 	.table1{
		.table1_img_mypham{
			height: 324px;
		}
	}
	.table2{
		.table2_img_thoitrang{
			height: 324px;
		}
	}

	.table1{

		.table1_img_phukien{
			height: 324px;
		}
	}
	.table2{
		.table2_img_latvat{
			height: 324px;
		}
	}
	.show_nav_mobie{
		display:block;
	}
	.active{
		.tuideo{
			img{
				height: 60px;
			}
		}
		.sovo{
			img{
				height: 60px;
			}
		}
		.ocean{
			
			img{
				height: 60px;
			}
		}
		.chanmeo{
			img{
				height: 60px;
			}
		}
	}

}
 
@include responsive_lg{



	.menu_bar{
 		.nav_{
 		}
 	}
 	.table1{
 		padding: 25px;
 		
 		.table1_img{
 			height: 400px;
 			h3{
				left: 34%;
 			}
 		}
 	}
 	.table2{
 		padding: 25px;
 		.table2_img{
 			height: 400px;
 			h3{
				left: 34%;
 			}
 		}
 	}
}

 
@include responsive_xl{
	.carousel-caption{
		
		.shoppe{
			padding-left: 130px;
			padding-right: 130px;
		}
	}

}



.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
    animation: 1s infinite ease-in-out;
}
.loader:before,
.loader:after {
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: $hover_;
}

.loader-black { background-color: #333; }

.loader-1 { animation-name: loader1; top: 40%;
    left: 45%;
    position: absolute; }
@keyframes loader1 {
    from { transform: scale(0); opacity: 1; }
    to   { transform: scale(1); opacity: 0; }
}